div {
  background-color: #e6e6ff;
  max-width: 80%;
  margin: auto;
}

.topnav {
  width: 100%;
  background-color: #333;
  overflow: hidden;
  color: white;
  text-align: center;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #b3c6ff;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

table{
  width: 100%;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}


th{
  border: 1px solid black;
}

tr{
  border: 1px solid black;
}
tr:hover {background-color: #f5f5f5;}

.content {

}