.box {
  font-family: 'Arial', sans-serif;
  width: 285px;
  height: 360px;
  margin: 15% auto auto;
  color: red;
  /*border: 1px solid #9e9b97;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset -1px -6px 12px 0.1px #89847e;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}