<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background-color:#d1d1e0;">

<div class="topnav">
    <a href="./">Enter input</a>
    <a href="./view_results">View results</a>
</div>

<h1 id="home" align="center">Online calculator</h1>
<div>
    {% if result['enough_time'] == 'no' %}
        <fieldset>
            <p> Not enough time.</p>
            <p> Computed only {{ result['accuracy_achieved'] }} digits. </p>
        </fieldset>
    {% endif %}
    <fieldset>
        <p> The Euler number </p>
        <p> e = {{ result['value'] }}</p>
        {% else %}
    </fieldset>
    <fieldset>
        <p> Requested time_limit = {{ result['time_limit'] }} </p>
        <p> Digits of interest = {{ result['accuracy'] }}</p>
    </fieldset>
</div>

<div class="footer" id="end">Created in July 2019</div>
</body>
</html>