<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#d1d1e0;">

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#input">Enter input</a>
    <a href="#history">History of computations</a>
  <a href="#output">See output</a>
  <a href="#end">End of the page</a>
</div>
<h1 id="home" align="center">Online calculator</h1>
<div>

    <h2 id="input" align="center">Enter the value</h2>
        <form id="submit_computation" method="POST" action="/schedule_calculation">
            <fieldset>
                <legend> Submit computations</legend>
            <p>
                Compute factorial of <input type="number"
                                    name="argument"
                                    min="1" max="10000"
                                    value="{% if args.argument_factorial %}{{args.argument_factorial}}{% else %}3{% endif %}"/>
                over time <input type="number"
                                 name="time_limit"
                                 min="1" max="10000"
                                 value="{% if args.time_limit_factorial %} {{args.time_limit_factorial}}{% else %}3{% endif %}" required/>
                and show the first <input type="number"
                                    name="accuracy"
                                    min="1" max="10000"
                                    value="{% if args.accuracy_factorial %} {{args.accuracy_factorial}}{% else %}3{% endif %}" required/>
                digits
                <input type="submit" name="func_name" value = "factorial" target="_blank"/>
            </p>

            <p>
                Compute &pi; over time (in sec)
                <input type="number"
                       name="time_limit"
                       min="1" max="10000"
                       value="{% if args.time_limit_pi %} {{args.time_limit_pi}}{% else %}1{% endif %}" required/>
                and show <input type="number"
                                name="accuracy_pi"
                                min="1" max="10000"
                                value="{% if args.accuracy_pi %} {{args.accuracy_pi}}{% else %}3{% endif %}" required/>
                digits
                <input type="submit" name="func_name" value = "pi" target="_blank"/>
            </p>

            <p>
                Compute e over time (in sec)
                <input type="number"
                       name="time_limit_e"
                       min="1" max="10000"
                       value="{% if args.time_limit_e %} {{args.time_limit_e}}{% else %}1{% endif %}" required/>
                and show <input type="number"
                                name="accuracy_e"
                                min="1" max="10000"
                                value="{% if args.accuracy_e %} {{args.accuracy_e}}{% else %}3{% endif %}" required/>
                digits.
                <input type="submit" name="func_name" value = "e" target="_blank"/>
        </fieldset>
        </form>

</div>
<div class="footer">Created in July 2019</div>
</body>
</html>
