<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculation is scheduled!</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#d1d1e0;">
<h1 id="history"> Scheduled computations</h1>
<div class="topnav">
  <a href="./">Enter input</a>
  <a href="./view_results">View results</a>
</div>
<h1> Scheduling new computation...</h1>
<div>
    <p> The computation is successfully scheduled! </p>
</div>
</body>
</html>