<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#d1d1e0;">

<!--{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
-->
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#input">Enter input</a>
  <a href="#output">See output</a>
  <a href="#end">End of the page</a>
</div>
<h1 id="home" align="center">Online calculator</h1>
<div style="background-color:#e6e6ff; width=300px; max-width: 600px; margin: auto;">

    <h2 id="input" align="center">Enter the value</h2>
    <fieldset>
<form method = "POST">
    <p>
        <select name="func_name">
        <option value = "factorial"> Factorial of </option>
        <option value = "pi"> &pi; over time (in sec) </option>
        <option value = "e"> e over time (in sec) </option>
    </select>

    <input type="number" name="inp" min="1" max="10000" value="{% if inp %}{{inp}}{% else %}1{% endif %}" required/>
        and display first
        <input type="number" name="n_digits" min="3" max="10000" value="{% if n_digits %}{{n_digits}}{% else %}1{% endif %}" required/> digits
    </p>
    <p><input type = "submit" name="submit_button" value = "submit" /></p>
</form>
    </fieldset>

{% if out_val %}
<fieldset>
<h2 id="output" align="center">Computed values</h2>
    {%include '%s.html'% func_name %}

    {#
    {% elif func_name == "pi" %}
            <p>&pi; = {{out_val}}</p>
            <p>This value was computed with time limit {{inp}}</p>
            <p>Based on time limit, {{acc}}-many digits after the dot are accurate.</p>
    {% elif func_name == "e" %}
            <p>e = {{out_val}}</p>
            <p>This value was computed with time limit {{inp}}</p>
    {% else %}
        <p>Unknown error </p>
    {% endif %}
    #}
</fieldset>
{% endif %}
    <p id="end"></p>
</div>
<div class="footer">Created in June 2019 by Kateryna Melnykova</div>
</body>
</html>
