<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#d1d1e0;">

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#input">Enter input</a>
    <a href="#history">History of computations</a>
  <a href="#output">See output</a>
  <a href="#end">End of the page</a>
</div>
<h1 id="home" align="center">Online calculator</h1>
<div>

    <h2 id="input" align="center">Enter the value</h2>
    <fieldset>
<form method = "POST">
    <p>
        <select name="func_name">
        <option value = "factorial"> Factorial of </option>
        <option value = "pi"> &pi; over time (in sec) </option>
        <option value = "e"> e over time (in sec) </option>
    </select>

    <input type="number" name="inp" min="2" max="10000" value="{% if inp %}{{inp}}{% else %}3{% endif %}" required/>
        and display first
        <input type="number" name="n_digits" min="2" max="10000" value="{% if n_digits %}{{n_digits}}{% else %}3{% endif %}" required/> digits
    </p>
    <p><input type = "submit" name="submit_button" value = "submit" /></p>
</form>
    </fieldset>
</div>
<div id="history">
    <fieldset>
        <h2 id="submitted" align="center">Submitted computations</h2>
        {% for table in tables %}
            {{ table | safe }}
        {% endfor %}
    </fieldset>
</div>
<div>
{% if out_val %}
<fieldset>
<h2 id="output" align="center">Computed values</h2>
    {%include '%s.html'% func_name %}
</fieldset>
{% endif %}
    <p id="end"></p>
</div>
<div class="footer">Created in June 2019 by Kateryna Melnykova</div>
</body>
</html>
