<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{% block title %}Scientific computations{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body style="background-color:#d1d1e0;">

    <div class="topnav">
        {% if current_user.is_authenticated %}
        <a href="#"> Hi {{ current_user.username }}! </a>
        {% else %}
            <a href="{{ url_for('auth.register') }}"> Please login/register </a>
        {% endif %}
        <a href="./">Enter input</a>
        <a href="./view_results">View results</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}"> Logout </a>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer" id="end">
        Created in August 2019
    </div>
  </body>
</html>


    </head>
    <body style="background-color:#d1d1e0;">
    </body>
</html>