{% extends 'base.html' %}

{% block title %}Scientific computations{% endblock %}

{% block content %}

<h1 id="home" align="center">Online calculator</h1>
<div>
    <fieldset>
        {% if result['enough_time'] == 'yes' %}
            <p>{{ result['argument'] }}! = {{ result['value'] }}</p>
        {% else %}
            <p> Not enough time.</p>
        {% endif %}
    </fieldset>
    <fieldset>
        <p> Requested time_limit = {{ result['time_limit'] }} </p>
        <p> Digits of interest = {{ result['accuracy'] }}</p>
    </fieldset>
</div>
{% endblock %}