{% extends 'base.html' %}

{% block title %}<h1>Scientific computations</h1>{% endblock %}

{% block content %}
<h1 id="home" align="center">Online calculator</h1>
<div>

    <h2 id="input" align="center">Enter the value</h2>
    <fieldset>
        <legend> Submit computations</legend>
        <form id="submit_computation" method="POST" action="/schedule_calculation">
            <p>
                Compute factorial of <input type="number"
                                    name="argument"
                                    min="1" max="10000"
                                    value="3"/>
                over time <input type="number"
                                 name="time_limit"
                                 min="1" max="10000"
                                 value="3" required/>
                and show the first <input type="number"
                                    name="accuracy"
                                    min="1" max="10000"
                                    value="3" required/>
                digits
                <button type="submit" name="func_name" value = "factorial" target="_blank"> Submit </button>
            </p>
        </form>

        <form method="POST" action="/schedule_calculation">
            <p>
                Compute &pi; over time (in sec)
                <input type="number"
                       name="time_limit"
                       min="1" max="10000"
                       value="1" required/>
                and show <input type="number"
                                name="accuracy"
                                min="1" max="10000"
                                value="3" required/>
                digits
                <button type="submit" name="func_name" value = "pi" target="_blank"> Submit </button>
            </p>
        </form>

        <form method="POST" action="/schedule_calculation">
            <p>
                Compute e over time (in sec)
                <input type="number"
                       name="time_limit"
                       min="1" max="10000"
                       value="4" required/>
                and show <input type="number"
                                name="accuracy"
                                min="1" max="10000"
                                value="4" required/>
                digits.
                <button type="submit" name="func_name" value = "e" target="_blank"> Submit </button>
        </form>
    </fieldset>
</div>
{% endblock %}

