{% extends 'base.html' %}

{% block main %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Science vs math vs numpy</h1>
      <h2 class="text-muted"> Which is faster?</h2>
    <p class="lead">New efficient formulas with naive implementation vs functions in math and numpy Python packages. Which is more efficient?</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">e</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">The Euler number</h1>
        <p> Specify the accuracy</p>
          <form id="exp" action="./exponent">
              <input type="number" id="accuracy" min="0" name="accuracy"/>
              </br>
              <br>
              <input type="submit" class="w-100 btn btn-lg btn-primary" id="submit_e" name="compare" value="Compare!">
          </form>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">&pi;</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"> Pi<small class="text-muted"></small></h1>
        <p> Specify the accuracy</p>
          <form id="pi" action="./pi">
              <input type="number" id="accuracy" min="0" name="accuracy"/>
              </br>
              <br>
              <input type="submit" class="w-100 btn btn-lg btn-primary" id="submit_pi" name="compare" value="Compare!">
          </form>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">!</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Factorial <small class="text-muted"></small></h1>
        <p> Specify the accuracy</p>
          <form id="factorial" action="./factorial">
              <input type="number" id="accuracy" min="0" name="accuracy"/>
              </br>
              <br>
              <input type="submit" class="w-100 btn btn-lg btn-primary" id="submit_factorial" name="compare" value="Compare!">
          </form>
      </div>
    </div>
    </div>
  </div>

  {% endblock %}

