{% extends 'base.html' %}

{% block title %}<h1>Scientific computations</h1>{% endblock %}

{% block content %}
<h1> Login </h1>
<form  action="" method="post" role="form">
    <fieldset>
        {{ form.csrf }}
        <div class="form-group">
              <label for="username">Name:</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Username?">
            <br>
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">
            <br>
            <center>
              <button type="submit">Submit</button>
            </center>
        </div>
    </fieldset>
</form>

{% endblock %}