{% extends 'base.html' %}

{% block title %}<h1>Scientific computations</h1>{% endblock %}

{% block content %}
<h1 id="home" align="center">Online calculator</h1>
<div>
    {% if result['enough_time'] == 'no' %}
        <fieldset>
            <p> Not enough time.</p>
            <p> Computed only {{ result['accuracy_achieved'] }} digits. </p>
        </fieldset>
    {% endif %}

    <fieldset>
        <p> &pi; = {{ result['value'] }}</p>
    </fieldset>
    <fieldset>
        <p> Requested time_limit = {{ result['time_limit'] }} </p>
        <p> Digits of interest = {{ result['accuracy'] }}</p>
    </fieldset>
</div>
{% endblock %}